<div style="display: flex; justify-content: center">
  <div style="width: 50%; margin: 20px">
    <mat-toolbar-row>
      <h1 style="color: white"><b>About me</b></h1>
    </mat-toolbar-row>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          My work primarily focuses on development of bioinformatics tools and workflows for data processing and management of proteomics mass spectrometry data.
          This would involve creation of Python packages and modules that handle adapting and manipulating input and output of various workflows and databases and aggregating the results as final output.
          The input data could come from a number of search engine like Proteome Discoverer, Diann, Mascot, Maxquant, MSFragger...
          Following data processing and analysis is visualization of the results in javascript-based web applications where the interactive graphics could be shared with anyone without the need for installation of extra tools or software.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 50px">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>history_edu</mat-icon> Education History
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Doctor of Philosophy. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
        <p>
          Master of Molecular Biology. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
        <p>
          Bachelor of Science in Biochemistry. <span style="color: #ff6a00">The University of Montana</span>.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 50px">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>work</mat-icon> Work History
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Postdoctoral Research Assistant. <span style="color: #c2185b">Medical Research Council - Protein Phosphorylation and Ubiquitylation</span>. <span style="color: #ff6a00">University of Dundee</span>.
        </p>
        <p>
          Casual Training Assistant. <span style="color: #c2185b">Research Computing Centre</span>. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 50px">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>emoji_events</mat-icon> Awards
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Steam Cell Hackathon Winner Award. <span style="color: #c2185b">Australian Institute for Bioengineering and Nanotechnology</span>. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
        <p>
          UQ Research Training Scholarship. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
        <p>
          Faculty of Science Dean's Commendation for Academic Excellence. <span style="color: #ff6a00">University of Queensland</span>.
        </p>
        <p>
          UQ Summer Research Scholarship. <span style="color: #ff6a00">University of Queensland</span>
        </p>
        <p>
          Diversity Council Achievement Award. <span style="color: #ff6a00">University of Montana</span>.
        </p>
        <p>
          Cal Murphy Scholarship. <span style="color: #ff6a00">University of Montana</span>.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
