<div style="display: flex; justify-content: center">
  <div style="width: 50%; margin: 20px">
    <mat-toolbar-row>
      <h1 style="color: white"><b>About me</b></h1>
    </mat-toolbar-row>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Education
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Doctor of Philosophy. University of Queensland.
        </p>
        <p>
          Master of Molecular Biology. University of Queensland.
        </p>
        <p>
          Bachelor of Science in Biochemistry. The University of Montana.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
