<mat-toolbar-row id="node-modules">
  <h2 style="color: white"><b>Node.JS Modules</b></h2>
</mat-toolbar-row>

<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile>
    <mat-card class="tool-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>uniprotparserjs</mat-card-title>
          <mat-card-subtitle>A JS/TS package for retrieving data from the UniProt Rest API</mat-card-subtitle>
          <img mat-card-sm-image src="assets/uniprotparserjs.png" alt="Logo of Sequal" class="tool-card-image">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="card-content">
          Similar to my uniprotparser python package, uniprotparserjs can be used to get UniProt data in tabulated text format from the using the REST API. The package can be used both in Node and Web browser environments.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button type="button" href="https://www.npmjs.com/package/uniprotparserjs" target="_blank">npm</a>
        <a mat-button type="button" href="https://github.com/noatgnu/uniprotparserjs" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
