<mat-toolbar-row id="node-modules">
  <h2 style="color: white"><b>Node.JS Modules</b></h2>
</mat-toolbar-row>

<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile>
    <mat-card class="tool-card">
      <mat-card-header>
        <mat-card-title>uniprotparserjs</mat-card-title>
        <mat-card-subtitle>A JS/TS package for retrieving data from the UniProt Rest API</mat-card-subtitle>
        <img mat-card-sm-image src="assets/uniprotparserjs.png" alt="Logo of Sequal" class="tool-card-image">
      </mat-card-header>
      <mat-card-content>
        <p class="card-content">
          Sequal can be used for reading and formatting protein sequences with and without modifications whether or not they are placed as suffix or prefix to the amino acid residue. With it there is also a minimal support for certain Mass Spectrometry related task within the package.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button type="button" href="https://www.npmjs.com/package/uniprotparserjs" target="_blank">npm</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
