<mat-toolbar-row id="web-application">
  <h2 style="color: white"><b>Web Application</b></h2>
</mat-toolbar-row>
<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile>
    <mat-card class="tool-card">
      <mat-card-header>
        <mat-card-title-group>
          <img mat-card-sm-image src="assets/curtain-logo.png" alt="Logo of Curtain" class="tool-card-image">
          <mat-card-title>Curtain</mat-card-title>
          <mat-card-subtitle>Sharing your total proteomics data with only a click</mat-card-subtitle></mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>
          For visualization of differential analysis of total proteomics data. Curtain enable easy sharing of differential analysis with no installation of additional software but your web browser.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button type="button" href="https://curtain.proteo.info/" target="_blank">Go to</a>
        <a mat-button type="button" href="https://github.com/noatgnu/curtain" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tool-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Curtain PTM</mat-card-title>
          <mat-card-subtitle>Sharing your PTM proteomics data with only a click</mat-card-subtitle>
          <img mat-card-sm-image src="assets/curtainptm.png" alt="Logo of CurtainPTM" class="tool-card-image">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p>
          For visualization of differential analysis of PTM proteomics data. Similar to Curtain, however, with PTM, the tool also aggregate extra data from other PTM databases for comparison between yours and the current knowledge base.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button type="button" href="https://curtainptm.proteo.info/" target="_blank">Go to</a>
        <a mat-button type="button" href="https://github.com/noatgnu/curtainPTM" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="tool-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Copica</mat-card-title>
          <mat-card-subtitle>A static database of protein copy numbers from deep profiling proteomics data</mat-card-subtitle>
          <img mat-card-sm-image src="assets/copica.png" alt="Logo of Copica" class="tool-card-image">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p class="card-content">
          Copica contains a collections of copy number derived from mass spectrometry analysis of deep profiling proteomics obtained using proteomics ruler extension from Perseus proteomics data analysis suite.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button type="button" href="https://copica.proteo.info/" target="_blank">Go to</a>
        <a mat-button type="button" href="https://github.com/noatgnu/copica" target="_blank">GitHub</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
