.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.title {
  font-size: 60px;
  color: #65647C;
}

.subtitle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.subtitle {
  font-size: 20px;
  color: #65647C;
}

.banner-image {
  background-image: linear-gradient(rgba(244, 67, 54, 1), rgba(70, 70, 70, 0.5)), url("../assets/banner.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-main-text{
  font-size: 60px;
}

.page-body{
  background: #303030;
}

.footer-section {
  background: rgba(244, 67, 54, 1);
}

.footer-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
}
