<mat-divider></mat-divider>

<div class="title-section">
  <h1 class="title"><b>Proteoinformatics</b></h1>
</div>
<div class="subtitle-section">
  <h5 class="subtitle"><b>Your resource for informatics within the proteome</b></h5>
</div>
<mat-divider></mat-divider>
<div class="page-center">
  <mat-card class="tool-card">
    <mat-card-header>
      <mat-card-title>Curtain</mat-card-title>
      <mat-card-subtitle>Sharing your total proteomics data with only a click</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/curtain-logo.png" alt="Logo of Curtain" class="tool-card-image">
    <mat-card-content>
      <p>
        For visualization of differential analysis of total proteomics data. Curtain enable easy sharing of differential analysis with no installation of additional software but your web browser.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button type="button" href="https://curtain.proteo.info/" target="_blank">Go to</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="tool-card">
    <mat-card-header>
      <mat-card-title>Curtain PTM</mat-card-title>
      <mat-card-subtitle>Sharing your PTM proteomics data with only a click</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/curtainptm.png" alt="Logo of Curtain" class="tool-card-image">
    <mat-card-content>
      <p>
        For visualization of differential analysis of PTM proteomics data. Similar to Curtain, however, with PTM, the tool also aggregate extra data from other PTM databases for comparison between yours and the current knowledge base.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button type="button" href="https://curtainptm.proteo.info/" target="_blank">Go to</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="tool-card">
    <mat-card-header>
      <mat-card-title>Celsus</mat-card-title>
      <mat-card-subtitle>Index all your differential analysis and provide a webui for easy access</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo.png" alt="Logo of Curtain" class="tool-card-image">
    <mat-card-content>
      <p>
        Have you ever wonder if a certain protein of interests have ever been found in your old data? Celsus can help you with centralizing your data analysis results and from there allows you to search for any of your data of interests across all documented datasets.
      </p>
    </mat-card-content>
  </mat-card>
</div>
