<mat-toolbar color="warn">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <a type="button" routerLink="home" href="" mat-icon-button aria-label="Home">
    <mat-icon>home</mat-icon>
  </a>
  <a type="button" routerLink="about-me" href="" mat-icon-button aria-label="Home">
    <mat-icon>badge</mat-icon>
  </a>
  <a type="button" href="mailto: toan.phung@proteo.info" mat-icon-button aria-label="Send contact email">
    <mat-icon>contact_mail</mat-icon>
  </a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="home/web-application" (click)="sidenav.toggle()">Web Applications</a>
      <a mat-list-item routerLink="home/python-modules" (click)="sidenav.toggle()">Python Packages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="banner-image">
      <div class="banner-text">
        <h5 class="banner-main-text"><b>Proteoinformatics</b></h5>
        <b>Your informatics resource for the proteome.</b>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="page-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-divider></mat-divider>
<footer class="footer-section">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <p  class="footer-text">
        Created by <a routerLink="about-me" style="color: white"><b>Toan Phung</b></a>.
      </p>
    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</footer>
