<mat-toolbar color="warn">
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<div class="banner-image">
  <div class="banner-text">
    <h5 class="banner-main-text"><b>Proteoinformatics</b></h5>
    <b>Your informatics resource for the proteome.</b>
  </div>
</div>
<mat-divider></mat-divider>
<div class="page-body">
  <app-stuffs></app-stuffs>
</div>
<mat-divider></mat-divider>
<footer class="footer-section">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
      <p  class="footer-text">
        Created by Toan Phung.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
