/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  width: 100%;
  min-width: 1200px;
  min-height: 1280px;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
}

.tool-card {
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
}

::ng-deep .tool-card-image {
  border-radius: 8px !important;
  overflow: hidden;
}
